body {
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: center;
}

@font-face {
  font-family: Akrobat;
  src: url(../font/Akrobat-ExtraBold.otf);
}
@font-face {
  font-family: Akrobat-Category;
  src: url(../font/Akrobat-Light.otf);
}
:root {
  --scrolbar: #EAC43D;
}

#app {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.rectangle-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 1122px;
  height: 100vh;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5921568627) 21.88%, rgba(0, 0, 0, 0) 100%);
}

.header {
  position: absolute;
  left: 3.3125rem;
  top: 2rem;
}

.categories {
  position: absolute;
  left: 6.25rem;
  top: 7.4rem;
  width: 25.5rem;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  overflow-x: auto;
  justify-content: flex-start;
  display: flex;
  align-items: center;
}
.categories > h1 {
  position: fixed;
  font-family: "Akrobat";
  left: 2.65rem;
  top: 0.75rem;
  font-size: 3.75rem;
  letter-spacing: 0.25rem;
}
.categories .label {
  margin-left: 0.82rem;
  padding-bottom: 0.1rem;
  opacity: 0.75;
  white-space: nowrap;
  margin-right: 1rem;
  font-family: "Akrobat-Category";
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.categories .right {
  position: fixed;
  left: 3rem;
  margin: 0;
  display: flex;
}
.categories .left {
  position: fixed;
  left: 32.8rem;
  margin: 0;
  display: flex;
}

::-webkit-scrollbar {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.eye {
  transition: background-color 0.3s ease;
}

.hovered {
  background-color: #FFD700;
}

.tattoo {
  position: absolute;
  left: 1.75rem;
  top: 10rem;
  width: 37rem;
  height: 48rem;
  overflow: auto;
}
.tattoo .list {
  position: relative;
  margin-right: 1.1rem;
  margin-top: 0.5rem;
  opacity: 0.75;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  font-family: "Akrobat-Category";
  font-weight: 600;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
}
.tattoo .list .image {
  position: absolute;
  width: 8.0625rem;
  height: 9.0625rem;
  background-image: url("../img/tatto/mpairraces_overlays.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.added {
  position: fixed;
  left: 3.3125rem;
  top: 59.525rem;
}

.basket {
  position: absolute;
  border: 1px solid #BBB8B2;
  width: auto;
  max-width: 95%;
  min-width: 300px;
  height: auto;
  right: 1rem;
  bottom: 1rem;
  background: linear-gradient(136.61deg, rgba(217, 217, 217, 0.5) 0%, rgba(217, 217, 217, 0) 67.19%), rgba(0, 0, 0, 0.01);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  border-radius: 5px;
  overflow: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.baskets {
  position: relative;
  width: 100%;
  max-height: 14.8rem;
  overflow: auto;
  box-sizing: border-box;
}

.list {
  position: relative;
  margin-top: 0.1rem;
  padding: 0.2rem;
  margin-left: 0.45rem;
  opacity: 0.75;
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment {
  position: relative;
  width: 100%;
  padding: 0.625rem;
  margin-top: 1rem;
  display: flex;
  box-sizing: border-box;
}

.exit {
  position: absolute;
  left: 107.625rem;
  top: 1.5625rem;
}

html {
  font-size: 16px;
}

@media screen and (width: 4096px) and (height: 2160px) {
  html {
    font-size: 31px;
  }
}
@media screen and (width: 2560px) and (height: 1440px) {
  html {
    font-size: 21.3px;
  }
}
@media screen and (width: 3440px) and (height: 1440px) {
  html {
    font-size: 21.5px;
  }
}
@media screen and (width: 1920px) and (height: 1200px) {
  html {
    font-size: 16px;
  }
}
@media screen and (width: 1920px) and (height: 1200px) {
  html {
    font-size: 16px;
  }
}
@media screen and (width: 1920px) and (height: 1440px) {
  html {
    font-size: 16px;
  }
}
@media screen and (width: 1600px) and (height: 1024px) {
  html {
    font-size: 14px;
  }
}
@media screen and (width: 1440px) and (height: 900px) {
  html {
    font-size: 12px;
  }
}
@media screen and (width: 1680px) and (height: 1050px) {
  html {
    font-size: 14px;
  }
}
@media screen and (width: 1600px) and (height: 900px) {
  html {
    font-size: 13.3px;
  }
}
@media screen and (width: 1600px) and (height: 1024px) {
  html {
    font-size: 13.3px;
  }
}
@media screen and (width: 1768px) and (height: 992px) {
  html {
    font-size: 15px;
  }
}
@media screen and (width: 1366px) and (height: 768px) {
  html {
    font-size: 11.3px;
  }
}
@media screen and (width: 1400px) and (height: 1050px) {
  html {
    font-size: 11.7px;
  }
}
@media screen and (width: 1440px) and (height: 900px) {
  html {
    font-size: 13.35px;
  }
}
@media screen and (width: 1280px) and (height: 1024px) {
  html {
    font-size: 11.7px;
  }
}
@media screen and (width: 1280px) and (height: 720px) {
  html {
    font-size: 11px;
  }
}
@media screen and (width: 1024px) and (height: 768px) {
  html {
    font-size: 10.05px;
  }
}
@media screen and (width: 832px) and (height: 624px) {
  html {
    font-size: 8.05px;
  }
}
@media screen and (width: 800px) and (height: 600px) {
  html {
    font-size: 8px;
  }
}/*# sourceMappingURL=app.css.map */